<div class="container">
    <div class="row">
      <div>
        Commit history
      </div>
<div class="col-md-12">
    <table class="table" *ngIf="commitList">
    <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">Name</th>
          <th scope="col">Message</th>
          <th scope="col">Date</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let objCommit of commitList;let i=index">
          <td  >{{(i + 1)}}</td>
          <td>{{objCommit.commit.committer.name}}</td>
          <td>{{objCommit.commit.message}}</td>
          <td>{{objCommit.commit.committer.date | date:'medium'}}</td>
        </tr>
       
       
      </tbody>
    </table>
    <div *ngIf="!commitList">
Error Occure
</div>
    </div>
</div>
